div.body {
    min-width: auto;
}

div.body p, div.body dd, div.body li, div.body blockquote {
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}

a.reference {
    text-decoration: none;
    border-bottom: none;
}

a.reference:hover {
    border-bottom: none;
}

@media screen and (max-width: 870px) {
    ul {
        margin-left: 30px;
    }
}

div.contents {
    padding: 7px;
}

div.contents ul {
    list-style-type: none;
    margin-left: 20px;
}

div.contents ul ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.contents li > p {
    margin-bottom: 0;
    margin-top: 0;
}

dl.class {
    margin-top: 60px;
}

dl.classmethod,
dl.method,
dl.staticmethod,
dl.attribute {
    margin-top: 30px;
}

dl.classmethod > dd > p,
dl.method > dd > p,
dl.staticmethod > dd > p,
dl.attribute > dd > p {
    margin-bottom: 5px;
}

dl.class > dt,
dl.classmethod > dt,
dl.method > dt,
dl.staticmethod > dt,
dl.attribute > dt {
    background: #EAEAEA;
    padding: 4px;
}

dd.field-odd {
    margin-top: 0;
}

a.footnote-reference {
    text-decoration: none;
}

dl.footnote {
    margin-top: 70px;
    font-size: 0.9em;
}

dl.footnote .label {
    line-height: 0.9em;
}

dl.footnote p {
    line-height: 1.0em;
    margin-top: 5px;
    margin-bottom: 5px;
}

dl.footnote a {
    text-decoration: none;
}
